:root {
    --vscode-font-weight:normal;
    --vscode-font-size:13px;
    --vscode-editor-font-family: 'JuliaMono', 'Source Code Pro', 'STIX Two Math', monospace;
    --vscode-editor-font-weight:normal;
    --vscode-editor-font-size:15px;
  }
